.app {
  background-color: #e9e9e9;
  margin: 100px;
}

.title {
  font-size: 54px;
  font-weight: 100;
  opacity: 0.5;
  color: #7c1313;
}

.main {
  padding: 50px 
}

.bottom_menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.button {
  border: none;
  cursor: pointer;
  border: 1px solid transparent;
  background-color: transparent;
  font-size: 20px;
  font-family: "PenelopeAnne-A65m", monospace;
}

.button:hover {
  border-bottom: 1px solid gray;
}

.button_active {
  border: 1px solid gray;
}
